"\C-H": backward-kill-word # ctrl + backspace: delete word to the left
"\e[1;5C": forward-word   # ctrl + right
"\e[1;5D": backward-word   # ctrl + left
"\e[3;5~": kill-word # ctrl + delete: delete word to the right
